# URL for the backend
apiUrl: ''

# API token
apiToken: ''

# DeepL
deeplUrl: 'https://api-free.deepl.com/v2'
deeplAuthKey: ''

# Client configuration
clientID: ''
guildID: ''

# Moderation configuration
modRole: ''
muteRole: ''

# Shortcuts prefix
shortcutPrefix: '.'

# Meme subreddits
subreddits: ['', '']

# Tickets
ticketParent: ''
ticketCategory: ''
ticketLogs: ''
supportRole: ''

# Suggestions
suggestionChannel: ''