# URL for the backend
apiUrl: ''

# API token
apiToken: ''

# DeepL
deeplUrl: 'https://api-free.deepl.com/v2'
deeplAuthKey: ''

# Client configuration
clientID: ''
guildID: ''

# Moderation configuration
modRole: ''

# Shortcuts prefix
shortcutPrefix: '.'